# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files (can opt-in for committing if needed)
.env*
.env.local

# deployment
deploy.sh
deployment.zip

/whitelabel

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


# scripts
scripts/generate-api-key.js

# seeding
/seeding

#themes
/theme_export__www-staterestaurant-com-st-dev-6-qty-and-variant__20NOV2024-0427pm

/windowsvmstuff

/scripts